/* Fading animation */
.fade {
    animation: fade 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fade {
    from {opacity: 0.4;}
    to {opacity: 1;}
}

.animate {
    animation: animatezoom .7s;
}

@keyframes animatezoom {
    from { transform: scale(0);}
    to { transform: scale(1);}
}

